*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
}

nav{
    margin: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.head_2_half{
    margin-left: auto;
}

.head_2_half ul{
    list-style: none;
    display: flex;
    gap: 1em;
}





/*  `xs` returns only a ruleset and no media query */

/* `sm` applies to x-small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .head_2_half ul{
        flex-direction: column;
        align-items: end;
    }
}

 /* `md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {}

 /* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/*  `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/*  `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}